.all-browsers{
    background-color: lightgrey;
    padding: 5px;
    margin: 0;
}
.browser{
     background: white;
}
.all-browsers > h1, .browser{
    margin: 10px;
    padding: 5px;
}
.browser > h2, p{
    margin: 4px;
    font-size: 90%;
}